* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #b5aeae;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    background-color: #fff;
    padding: 40px;
    margin: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.box {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: #fff;
}

.box h1 {
    position: relative;
    color: #070606;
    top: -20px;
    background-color: #ff7f3559;
    font-size: 24px;
    border-radius: 10px;
    padding: 2px 20px 2px 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box h2 {
    position: relative;
    color: #1f1717;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box p {
    position: relative;
    color: #1f1717;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.box a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff3574;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
}

.box a:hover {
    background-color: #f90b56;
    font-size: 16.3px;
}

.audios {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: #aaf9d1;
    box-shadow: inset 0 0 10px rgba(178, 223, 228, 0.587) 0 0 0 200px rgba(212, 172, 250, 0.726) 0 0 0 200px rgba(248, 215, 146, 0.874) 0 0 0 200px rgba(255, 187, 187, 0.699) 0 0 0 200px rgba(249, 101, 101, 0.1);
    animation: aides 10s linear infinite;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

@keyframes aides {
    0% {
        filter: hue-rotate(0deg);
    }

    30% {
        filter: hue-rotate(90deg);
    }

    50% {
        filter: hue-rotate(180deg);
    }

    70% {
        filter: hue-rotate(270deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}